@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Fjalla+One&display=swap');

.container {
    position: relative;
    text-align: center;
    color: black;
    margin: 0%;
}

.groundhogPic {
    width: 100%;
}

.headerText {
    position: absolute;
    top: 30%;
    color: black;
    font-size: 175%;
    width: 45%;
    font-family: 'Roboto Condensed', sans-serif;
}

.activityText {
    top: 26%;
    left: 2%;
    position: absolute;
    color: black;
    font-size: 175%;
    width: 45%;
    font-family: 'Roboto Condensed', sans-serif;
}

.billText {
    position: absolute;
    top: 41%;
    color: black;
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
    left: -3%;
}

.billHead-btn {
    position: absolute;
    border-radius: 100%;
    width: 20%;
    height: 20%;
    top: 56%;
    left: 12%;
    cursor: pointer;
    transition: transform .2s;
}
.billHead-btn:hover {
    transform: scale(1.2);
}

.activity-btn:hover {
    transform: scale(1.0)
}

button {
    width: 28%;
    height: 20%;
    text-align: center;
    border: 1px white;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .2s;
    margin: 1%;
    padding: 5%;
}

nav {
    top: 44%;
    left: 2%;
    position: absolute;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

#modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-textbox {
    background-image: url("newspaper.png");
    background-size: cover;
    color: black;
    height: 45%;
    width: 45%;
    margin: 9.5% auto;
    padding: 2%;
    line-height: 120%;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    min-width: 300px;
    min-height: 300px;
}

#modal-footer{
    display: flex;
    text-align: center;
    align-items: flex-end;
}

#close {
    margin-top: 38%;
    margin-left: 11%;
}

#modal-ad {
    top: 16%;
    right: 39.5%;
    width: 21%;
    height: 41%;
    position: fixed;
    margin: 150px auto;
}

p {
    font-size: smaller;
}

.modal-h1 {
    font-family: 'Amatic SC', cursive;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    margin-top: 5%;
    margin-bottom: -4%;
}


